doctype html
html(lang="en")
  head
    title !{title}
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  body
    #container
        |  !{content}
        style.
            body {
                margin: 5% 2%;
            }
