# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
Server/node_modules
node_modules

# production
Public/client.min.js

# misc
logHistory.log
Public/videoPlaylist/
Public/folder/
Public/up/
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

## PHP

# Composer files
composer.phar
vendor/

# Local configs
config/autoload/*.local.php

# Binary gettext files
*.mo

# Data
data/logs/
data/cache/
data/sessions/
data/tmp/
temp/

# Doctrine 2
data/DoctrineORMModule/Proxy/
data/DoctrineORMModule/cache/

# Legacy ZF1
demos/
extras/documentation
